XylemeParser/XSDs/ContentPackages/Core/Definitions/IMS/imsss_v1p0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Turbo XML 2.3.1.100. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="imsss_v1p0seqrule.xsd"/>
	<xs:include schemaLocation="imsss_v1p0objective.xsd"/>
	<xs:include schemaLocation="imsss_v1p0delivery.xsd"/>
	<xs:include schemaLocation="imsss_v1p0random.xsd"/>
	<xs:include schemaLocation="imsss_v1p0rollup.xsd"/>
	<xs:include schemaLocation="imsss_v1p0control.xsd"/>
	<xs:include schemaLocation="imsss_v1p0limit.xsd"/>
	<xs:include schemaLocation="imsss_v1p0auxresource.xsd"/>
	<!-- Shouldn't need to do this but sDoc get's confused if I don't -->
	<xs:include schemaLocation="imsss_v1p0util.xsd"/>
	<xs:element name="sequencing" type="sequencingType" block="#all">
		<xs:annotation>
			<xs:documentation>The root element for all sequencing tags.  This tag will usually appear as a child element to an IMS CP item tag.</xs:documentation>
			<xs:appinfo>
				<jupiter>
					<component type="sequence" caption="Sequencing Info"/>
					<translation lang="es" caption="Información de Secuencia"/>
					<translation lang="fr" caption="Information de Séquence"/>
				</jupiter>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="sequencingType">
		<xs:annotation>
			<xs:documentation>The type associated with any top-level sequencing tag</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="controlMode" type="controlModeType" block="#all" minOccurs="0">
				<xs:annotation>
					<xs:documentation>non-exclusive definition of acceptable control-modes</xs:documentation>
					<xs:appinfo>
						<jupiter>
							<component type="sequence" caption="Control Mode"/>
							<translation lang="es" caption="Modo de Control"/>
							<translation lang="fr" caption="Mode de Contrôle"/>
						</jupiter>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="sequencingRules" type="sequencingRulesType" block="#all" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<jupiter>
							<component type="sequence" caption="Sequencing Rules"/>
							<translation lang="es" caption="Reglas de Secuencia"/>
							<translation lang="fr" caption="Règles de Séquence"/>
						</jupiter>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="limitConditions" type="limitConditionsType" block="#all" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<jupiter>
							<component type="sequence" caption="Limit Conditions"/>
							<translation lang="es" caption="Condiciones Límite"/>
							<translation lang="fr" caption="Conditions Limite"/>
						</jupiter>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="auxiliaryResources" type="auxiliaryResourcesType" block="#all" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<jupiter>
							<component type="sequence" caption="Auxiliary Resources"/>
							<translation lang="es" caption="Recursos Auxiliares"/>
							<translation lang="fr" caption="Ressources Auxiliaires"/>
						</jupiter>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="rollupRules" type="rollupRulesType" block="#all" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<jupiter>
							<component type="sequence" caption="Rollup Rules"/>
							<translation lang="es" caption="Reglas de Conteo"/>
							<translation lang="fr" caption="Règles de Comptes"/>
						</jupiter>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="objectives" type="objectivesType" block="#all" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<jupiter>
							<component type="sequence" caption="Objectives"/>
							<translation lang="es" caption="Objetivos"/>
							<translation lang="fr" caption="Objectifs"/>
						</jupiter>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="randomizationControls" type="randomizationType" block="#all" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<jupiter>
							<component type="sequence" caption="Randomization Controls"/>
							<translation lang="es" caption="Controles de Aleatorización"/>
							<translation lang="fr" caption="Contrôles de Randomisation"/>
						</jupiter>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="deliveryControls" type="deliveryControlsType" block="#all" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<jupiter>
							<component type="sequence" caption="Delivery Controls"/>
							<translation lang="es" caption="Controles de Entrega"/>
							<translation lang="fr" caption="Contrôles de livraison"/>
						</jupiter>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:any namespace="##other" processContents="strict" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<!--
		  I'm leaving these off for now, I'm not sure they're useful for
		  authoring.
		-->
		<!--		<xs:attribute name="ID" type="xs:ID"/>-->
		<!--		<xs:attribute name="IDRef" type="xs:IDREF"/>-->
	</xs:complexType>
	<xs:element name="sequencingCollection" block="#all">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="sequencing" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
