XylemeParser/XSDs/ContentPackages/Core/Definitions/IMS/imsss_v1p0rollup.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Turbo XML 2.3.1.100. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="imsss_v1p0util.xsd"/>
	<xs:complexType name="rollupRuleType">
		<xs:sequence>
			<xs:element name="rollupCondition" block="#all" maxOccurs="unbounded">
				<xs:complexType>
					<xs:attribute name="operator" type="conditionOperatorType" default="noOp"/>
					<xs:attribute name="condition" type="rollupRuleConditionType" use="required"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="rollupAction" block="#all">
				<xs:complexType>
					<xs:attribute name="action" type="rollupActionType" use="required"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="childActivitySet" type="childActivityType" default="all"/>
		<xs:attribute name="minimumCount" type="xs:integer" default="0"/>
		<xs:attribute name="minimumPercent" type="percentType" default="0"/>
		<xs:attribute name="conditionCombination" type="conditionCombinationType" default="any"/>
	</xs:complexType>
	<xs:complexType name="rollupRulesType">
		<xs:sequence>
			<xs:element name="rollupRule" type="rollupRuleType" block="#all" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:appinfo>
						<jupiter>
							<component type="sequence" caption="Rollup Rule"/>
							<translation lang="es" caption="Regla de Conteo"/>
							<translation lang="fr" caption="Règle de Comptes"/>
						</jupiter>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="rollupObjectiveSatisfied" type="xs:boolean" default="true"/>
		<xs:attribute name="rollupProgressCompletion" type="xs:boolean" default="true"/>
		<xs:attribute name="objectiveMeasureWeight" type="weightType" default="1.0000"/>
	</xs:complexType>
</xs:schema>
