XylemeParser/XSDs/ContentPackages/Core/Definitions/IMS/imsss_v1p0seqrule.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Turbo XML 2.3.1.100. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="imsss_v1p0util.xsd"/>
	<xs:complexType name="exitConditionRuleType">
		<xs:complexContent>
			<xs:extension base="sequencingRuleType">
				<xs:sequence>
					<xs:element name="ruleAction" block="#all">
						<xs:complexType>
							<xs:attribute name="action" type="exitConditionRuleActionType" use="required"/>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="postConditionRuleType">
		<xs:annotation>
			<xs:documentation>postConditionSequencingRuleType is derived by extension from sequencingRuleType.  It adds an element ruleAction that is a simpleType constrained to a vocabulary relevant to post-Condition sequencing rules</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="sequencingRuleType">
				<xs:sequence>
					<xs:element name="ruleAction" block="#all">
						<xs:complexType>
							<xs:attribute name="action" type="postConditionRuleActionType" use="required"/>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="preConditionRuleType">
		<xs:complexContent>
			<xs:extension base="sequencingRuleType">
				<xs:sequence>
					<xs:element name="ruleAction" block="#all">
						<xs:complexType>
							<xs:attribute name="action" type="preConditionRuleActionType" use="required"/>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="sequencingRuleType" abstract="true">
		<xs:sequence>
			<xs:element name="ruleConditions" block="#all">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ruleCondition" block="#all" maxOccurs="unbounded">
							<xs:complexType>
								<xs:attribute name="referencedObjective" type="xs:string"/>
								<xs:attribute name="measureThreshold" type="measureType"/>
								<xs:attribute name="operator" type="conditionOperatorType" default="noOp"/>
								<xs:attribute name="condition" type="sequencingRuleConditionType" use="required"/>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
					<xs:attribute name="conditionCombination" type="conditionCombinationType" default="all"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="sequencingRulesType">
		<xs:sequence>
			<xs:element name="preConditionRule" type="preConditionRuleType" block="#all" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:appinfo>
						<jupiter>
							<component type="sequence" caption="Precondition Rule"/>
							<translation lang="es" caption="Regla - Condición Previa"/>
							<translation lang="fr" caption="Règle de Pré-Condition"/>
						</jupiter>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="exitConditionRule" type="exitConditionRuleType" block="#all" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:appinfo>
						<jupiter>
							<component type="sequence" caption="Exit Condition Rule"/>
							<translation lang="es" caption="Regla - Condición de Salida"/>
							<translation lang="fr" caption="Règle de Condition de Sortie"/>
						</jupiter>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="postConditionRule" type="postConditionRuleType" block="#all" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:appinfo>
						<jupiter>
							<component type="sequence" caption="Postcondition Rule"/>
							<translation lang="es" caption="Regla - Condición Posterior"/>
							<translation lang="fr" caption="Règle de Post-Condition"/>
						</jupiter>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="exitConditionRuleActionType">
		<xs:restriction base="xs:token">
			<xs:enumeration value="exit"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="postConditionRuleActionType">
		<xs:restriction base="xs:token">
			<xs:enumeration value="exitParent"/>
			<xs:enumeration value="exitAll"/>
			<xs:enumeration value="retry"/>
			<xs:enumeration value="retryAll"/>
			<xs:enumeration value="continue"/>
			<xs:enumeration value="previous"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="preConditionRuleActionType">
		<xs:restriction base="xs:token">
			<xs:enumeration value="skip"/>
			<xs:enumeration value="disabled"/>
			<xs:enumeration value="hiddenFromChoice"/>
			<xs:enumeration value="stopForwardTraversal"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
