XylemeParser/XSDs/ContentPackages/Core/Definitions/Movie.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2006 sp1 U (http://www.altova.com) by Jeffrey Katzman (Xyleme Inc) -->
<!--

Copyright c 2015 Xyleme, Inc., 1881 9th Street, Suite 300, Boulder, Colorado 80302 USA.
All rights reserved.

This file and related documentation are protected by copyright and
are distributed under licenses regarding their use, copying, distribution,
and decompilation. No part of this product or related documentation may
be reproduced or transmitted in any form or by any means, electronic or
mechanical, for any purpose, without the express written permission of
Xyleme, Inc.

-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
           attributeFormDefault="unqualified">
    <xs:annotation>
        <xs:appinfo>
            <jupiter>
                <root name="Movie"/>
            </jupiter>
        </xs:appinfo>
    </xs:annotation>
    <xs:include schemaLocation="Paragraph.xsd"/>
    <xs:element name="Movie">
        <xs:annotation>
            <xs:appinfo>
                <jupiter>
                    <link def="Core/Definitions/MovieDef.xml"/>
                    <component type="sequence" widget-type="movie" caption="Movie Object" propertyPanel="true" showTitle="true" panelIcon="Core/Definitions/Media/Media.png" metaCaption="$Title(text.xml)$"/>
                    <property-owner/>
                    <translation lang="es" caption="Objeto Vídeo"/>
                    <translation lang="fr" caption="Objet vidéo"/>
                    <widget-properties>
                        <toolbar-item group_id="toolbar-media-group"/>
                        <widget-icon iconClass="movie"/>
                    </widget-properties>
                </jupiter>
            </xs:appinfo>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="Title" minOccurs="0"/>
                <xs:element name="Introduction" type="RichTextType" minOccurs="0">
                    <xs:annotation>
                        <xs:appinfo>
                            <jupiter>
                                <component type="wysiwyg" caption="Movie Introduction"/>
                                <translation lang="es" caption="Introducción Vídeo"/>
                                <translation lang="fr" caption="Introduction Vidéo"/>
                                <properties name="text.text"/>
                            </jupiter>
                        </xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:element ref="Instructions" minOccurs="0"/>
                <xs:choice maxOccurs="1">
                    <xs:element name="LaunchMovie" type="xs:anyURI">
                        <xs:annotation>
                            <xs:appinfo>
                                <jupiter>
                                    <component allowedFileFormats=".avi, .mov, .flv, .mpg, .mp4, .wmv, .m4v, .3gp" caption="Movie File" placeholder="Core/Definitions/Media/Video-600x450-b.png" showThrough="true" type="media"/>
                                    <translation caption="Archivo de Vídeo" lang="es"/>
                                    <translation caption="Fichier vidéo" lang="fr"/>
                                    <property name="media.uri"/>
                                </jupiter>
                            </xs:appinfo>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="EmbedMovie" type="xs:string">
                        <xs:annotation>
                            <xs:appinfo>
                                <jupiter>
                                    <component type="text" caption="Embed Movie Code"/>
                                    <translation lang="es" caption="Insertar Video Codigo"/>
                                    <property name="text.text"/>
                                </jupiter>
                            </xs:appinfo>
                        </xs:annotation>
                    </xs:element>
                </xs:choice>
                <xs:element name="AltText" type="xs:string" minOccurs="0">
                    <xs:annotation>
                        <xs:appinfo>
                            <jupiter>
                                <component type="implicit" caption="altText" multiline="true"/>
                                <translation lang="es" caption="Texto Alt"/>
                                <translation lang="fr" caption="Texte Alt"/>
                                <property name="value"/>
                                <widget-properties>
                                    <property name="option-property" tabName="Basic" value="true"/>
                                    <property name="property-layout-index" value="2"/>
                                    <property name="property-layout-span" value="full"/>
                                </widget-properties>
                            </jupiter>
                        </xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:element ref="StoryBoardImage" minOccurs="0">
                    <xs:annotation>
                        <xs:appinfo>
                            <jupiter>
                                <component type="sequence" caption="Storyboard Image"/>
                                <property-owner/>
                                <translation lang="es" caption="Imagen - Guión Gráfico"/>
                                <translation lang="fr" caption="Image - Storyboard"/>
                            </jupiter>
                        </xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:element ref="AVscript" minOccurs="0">
                    <xs:annotation>
                        <xs:appinfo>
                            <jupiter>
                                <property-owner/>
                            </jupiter>
                        </xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:element ref="Keywords" minOccurs="0">
                    <xs:annotation>
                        <xs:appinfo>
                            <jupiter>
                                <component type="implicit"  caption="Keywords"/>
                                <property name="value"/>
                                <widget-properties>
                                    <property name="option-property" tabName="Basic" value="true"/>
                                    <property name="property-layout-index" value="8"/>
                                    <property name="property-layout-span" value="full"/>
                                </widget-properties>
                            </jupiter>
                        </xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:element ref="Caption" minOccurs="0"/>
                <xs:element ref="LOM" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute name="height-pixel" type="xs:integer" use="required">
                <xs:annotation>
                    <xs:appinfo>
                        <jupiter>
                            <component type="implicit" caption="Height"/>
                            <property name="value"/>
                            <widget-properties>
                                <property name="option-property" tabName="Basic" value="true"/>
                                <property name="property-group-editor-type" value="dimension" />
                                <property name="property-group-editor-name" value="properties.group.dimensions" />
                                <property name="property-group-editor-item-key" value="properties.dimension.height" />
                                <property name="property-layout-index" value="6"/>
                            </widget-properties>
                        </jupiter>
                    </xs:appinfo>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="width-pixel" type="xs:integer" use="required">
                <xs:annotation>
                    <xs:appinfo>
                        <jupiter>
                            <component type="implicit" caption="Width"/>
                            <property name="value"/>
                            <widget-properties>
                                <property name="option-property" tabName="Basic" value="true"/>
                                <property name="property-group-editor-type" value="dimension" />
                                <property name="property-group-editor-name" value="properties.group.dimensions" />
                                <property name="property-group-editor-item-key" value="properties.dimension.width" />
                                <property name="property-layout-index" value="5"/>
                            </widget-properties>
                        </jupiter>
                    </xs:appinfo>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute ref="wrap">
                <xs:annotation>
                    <xs:appinfo>
                        <jupiter>
                            <component type="list" caption="Wrap" values="left right none" labels="left right none"/>
                            <property name="choice.value"/>
                            <widget-properties>
                                <property name="option-property" tabName="Basic" value="false"/>
                                <translation lang="ru" tabName="Основные"/>
                            </widget-properties>
                        </jupiter>
                    </xs:appinfo>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="StartOnLoad" type="xs:boolean" use="optional" default="false">
                <xs:annotation>
                    <xs:appinfo>
                        <jupiter>
                            <component type="implicit" caption="Start on load"/>
                            <property name="value"/>
                            <widget-properties>
                                <property name="option-property" tabName="Basic" value="true"/>
                                <property name="property-layout-index" value="3"/>
                            </widget-properties>
                        </jupiter>
                    </xs:appinfo>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="ShowControls" type="xs:boolean" use="optional" default="true">
                <xs:annotation>
                    <xs:appinfo>
                        <jupiter>
                            <component type="implicit" caption="Show controls"/>
                            <property name="value"/>
                            <widget-properties>
                                <property name="option-property" tabName="Basic" value="true"/>
                                <property name="property-layout-index" value="4"/>
                            </widget-properties>
                        </jupiter>
                    </xs:appinfo>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="MustBeCompleted" type="xs:boolean" use="optional"/>
        </xs:complexType>
    </xs:element>
</xs:schema>
