XylemeParser/XSDs/ContentPackages/Core/Definitions/WebComponent.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2011 sp1 (x64) (http://www.altova.com) by Jeffrey Scott Katzman (Xyleme) -->
<!--

Copyright c 2012 Xyleme, Inc., 2060 Broadway, Suite 260, Boulder, C0 80302 USA.
All rights reserved.

This file and related documentation are protected by copyright and
are distributed under licenses regarding their use, copying, distribution,
and decompilation. No part of this product or related documentation may
be reproduced or transmitted in any form or by any means, electronic or
mechanical, for any purpose, without the express written permission of
Xyleme, Inc.

-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
	attributeFormDefault="unqualified">
	<xs:include schemaLocation="Paragraph.xsd"/>
	<xs:annotation>
		<xs:appinfo>
			<jupiter>
				<root name="WebComponent"/>
			</jupiter>
		</xs:appinfo>
	</xs:annotation>
	<xs:element name="WebComponent">
		<xs:annotation>
			<xs:appinfo>
				<jupiter>
					<link def="Core/Definitions/WebComponentDef.xml"/>
					<component caption="Web Component" metaCaption="$Title(text.xml)$"
					           propertyPanel="true" showTitle="true" type="sequence"/>
					<property-owner/>
					<widget-properties>
						<widget-icon iconClass="web-component"/>
					</widget-properties>
				</jupiter>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Title"/>
				<xs:element name="WebComponentEngine">
					<xs:annotation>
						<xs:appinfo>
							<jupiter>
								<component allowedFileFormats=".xml"
								           caption="Engine Package"
								           height="$../height(value)$" showThrough="true"
								           type="media" width="$../width(value)$"/>
								<property name="media.uri"/>
							</jupiter>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element name="WebComponentGroup" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:appinfo>
							<jupiter>
								<component caption="Web Component Group" metaCaption="$GroupName(text.xml)$" type="sequence"/>
								<property-owner/>
								<widget-properties>
									<property name="property-complex-type" value="WebComponentGroup"/>
									<property name="property-layout-span" value="full"/>
									<property name="property-layout-index" value="2"/>
								</widget-properties>
							</jupiter>
						</xs:appinfo>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="GroupName" type="xs:string">
								<xs:annotation>
									<xs:appinfo>
										<jupiter>
											<component caption="Group Name" type="text"/>
											<property name="text.text"/>
											<widget-properties>
												<property name="option-property" value="true" tabName="Basic" />
											</widget-properties>
										</jupiter>
									</xs:appinfo>
								</xs:annotation>
							</xs:element>
							<xs:element maxOccurs="unbounded" name="WebComponentItem">
								<xs:annotation>
									<xs:appinfo>
										<jupiter>
											<component caption="Web Component Item" metaCaption="$VariableName(text.xml)$" type="sequence"/>
											<property-owner/>
										</jupiter>
									</xs:appinfo>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="VariableName" type="xs:string">
											<xs:annotation>
												<xs:appinfo>
													<jupiter>
														<component caption="Variable Name"
														           type="text"/>
														<property name="text.text"/>
														<widget-properties>
															<property name="option-property" value="true" tabName="Basic" />
														</widget-properties>
													</jupiter>
												</xs:appinfo>
											</xs:annotation>
										</xs:element>
										<xs:choice>
											<xs:element ref="RichText">
												<xs:annotation>
													<xs:appinfo>
														<jupiter>
															<component type="wysiwyg" caption="Rich Text" showBorder="false" shortcutkey="r" css2="Solution=border-bottom-width:1px;|SystemResponse/Example/ParaBlock/NoteBlock/ParaBlock=background-image:'Core/Definitions/Media/note';font-family:monospace;|NoteBlock/ParaBlock=background-image:'Core/Definitions/Media/note';border-color:rgb(200,200,200);border-top-width:1px;border-bottom-width:1px;font-weight:bold;font-family:tahoma;|Warning=background-image:'Core/Definitions/Media/warningnew';border-color:rgb(200,200,200);border-top-width:1px;border-bottom-width:1px;font-weight:bold;font-family:tahoma;|Caution=background-image:'Core/Definitions/Media/cautionnew';border-color:rgb(200,200,200);border-top-width:1px;border-bottom-width:1px;font-weight:bold;font-family:tahoma;|margin-bottom:3px;margin-top:3px;|NoteBlock=background-image:'Core/Definitions/Media/note';border-color:rgb(200,200,200);border-top-width:1px;border-bottom-width:1px;font-weight:bold;font-family:tahoma;|Tip=background-image:'Core/Definitions/Media/tipnew';border-color:rgb(200,200,200);border-top-width:1px;border-bottom-width:1px;font-weight:bold;font-family:tahoma;|KeyPoint=background-image:'Core/Definitions/Media/key_terms';border-color:rgb(200,200,200);border-top-width:1px;border-bottom-width:1px;font-weight:bold;font-family:tahoma;|CriticalControlPoint=background-image:'Core/Definitions/Media/CriticalControlPoint';border-color:rgb(200,200,200);border-top-width:1px;border-bottom-width:1px;font-weight:bold;font-family:tahoma;"/>
															<translation lang="es" caption="Texto Enriquecido"/>
															<translation lang="fr" caption="Texte Enrichi"/>
															<property name="text.text"/>
															<widget-properties>
																<toolbar-item group_id="toolbar-contents-group"/>
																<widget-icon iconClass="rich-text"/>
															</widget-properties>
														</jupiter>
													</xs:appinfo>
												</xs:annotation>
											</xs:element>
											<xs:element name="Media" type="xs:anyURI">
												<xs:annotation>
													<xs:appinfo>
														<jupiter>
															<component caption="Media Resource" showThrough="true" type="media"/>
															<property name="media.uri"/>
														</jupiter>
													</xs:appinfo>
												</xs:annotation>
											</xs:element>
										</xs:choice>
										<xs:element minOccurs="0" name="VariableDescription" type="xs:string">
											<xs:annotation>
												<xs:appinfo>
													<jupiter>
														<component caption="Variable Description" type="text"/>
														<property name="text.text"/>
													</jupiter>
												</xs:appinfo>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element ref="AltText" minOccurs="0"/>
				<xs:element ref="AVscript" minOccurs="0"/>
				<xs:element ref="LOM" minOccurs="0"/>
				<xs:element ref="asset" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="assetFolder" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute ref="wrap" use="optional"/>
			<xs:attribute name="name" type="xs:string" use="optional"/>
		</xs:complexType>
	</xs:element>

	<xs:element name="asset">
		<xs:annotation>
			<xs:appinfo>
				<jupiter>
					<component type="sequence" caption="Media Asset" />
				</jupiter>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="uri" type="xs:anyURI">
				<xs:annotation>
					<xs:appinfo>
						<jupiter>
							<component type="media" caption="Media File" />
							<property name="media.uri"/>
							<widget-properties>
								<property name="option-property" value="true"/>
							</widget-properties>
						</jupiter>
					</xs:appinfo>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="assetFolder">
		<xs:annotation>
			<xs:appinfo>
				<jupiter>
					<component type="sequence" caption="Media Asset Folder" />
				</jupiter>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="uri" type="xs:anyURI">
				<xs:annotation>
					<xs:appinfo>
						<jupiter>
							<component type="media" caption="Media Folder" />
							<property name="media.uri"/>
							<widget-properties>
								<property name="option-property" value="true"/>
							</widget-properties>
						</jupiter>
					</xs:appinfo>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="recursive" type="xs:boolean" use="optional" default="true">
				<xs:annotation>
					<xs:appinfo>
						<jupiter>
							<component type="implicit" caption="Include Sub-folders"/>
							<property name="value"/>
							<widget-properties>
								<property name="option-property" value="true"/>
							</widget-properties>
						</jupiter>
					</xs:appinfo>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	
</xs:schema>